.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-of-type+html .clearfix { zoom: 1; } /* IE7 */
/************** End Clearfix **************/

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.pane{
  background: #e6e6e6;
}

.wrapper{
  /*max-width: 600px;*/
  width: 100%;
  height: 100%;
}

/********** Text styles **********/
body {
  font-size: 16px; /*Set the base font*/
  font-family: 'Maven Pro', sans-serif;
  background: #e6e6e6;
}

a {
  text-decoration: none;
  color: #e74c3c;
}

h1, h2, h3 {
  font-family: 'Josefin Slab', serif;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 4.6em;
  line-height: .75em;
}

/********* UI Elements *********/

button{
  width: 90%;
  margin: 0 5% .65em;
  padding: .75em 0;
  clear: both;
  text-align: left;
  border: none;
  border-radius: 2px;
  font-family: 'Josefin Slab', serif;
  font-size: 1.25em;
  font-weight: 600;
  background: #2980b9; /* default blue */
  color: #fff;
}

  .btn-icon{
    float: left;
    display: block;
    width: 30px;
    margin: 0 .6em 0 0;
    padding: 0 1.2em;
    border-right: 2px solid #fff;
    text-align: center;
    font-size: 1.2em;
  }

/********** Forms **********/
form{
  width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
  background-color: #fff;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1em;
  font-weight: 400;
  text-overflow: ellipsis;
  position: absolute;
  height: 5%;
  width:100%;
  border-radius: 0;
}

/********** Utility Classes **********/
.v-center{
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.sticky-bottom{
  position: absolute;
  bottom: 10%;
}

/******* Login Panes *******/
.login-pane {
  background: url(../img/bg_city_grad.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%
}

.login-area{
  width: 100%;
}

.title {
  font-family: 'Savoye LET';
  color: #fff;
  font-size: 5em;
  padding-top: 20%;
}
#main-logo{
  width: 100%;
  max-width: 500px;
  margin: 0 auto 10%;
  height: 35%;
  text-align: center;
}

  #main-logo img{
    width: 70%;
    padding: 15%;
  }

.loginSection {
  width:100%;
}

/******* Map Pages ********/

#map-page {
  width: 100%;
  height: 100%;
}

  #pac-input {
    height: 5%;
  }

  .map {
    width: 100%;
    height: 45%;
    top: 5%;
    position: absolute;
  }

    #map-canvas {
      width: 100%;
      height: 100%;
    }


  .hTabs {
    width: 100%;
    height: 50%;
    background: #2c3e50;
    position: absolute;
    font-family: 'Josefin Slab', serif;
    color: #fff;
    border: none;
    top:50%;
  }

  .short-address-section {
    height: 20%;
    width: 100%;
    position: absolute;
  }

    .short-address {
      font-size: 1.25em;
      font-weight: 600;
      left: 2%;
      top: 1em;
      position: absolute;
    }

    .currentLoc-btn {
      position: absolute;
      background-color: rgb(63,154,214);
      border-radius: 50%;
      top:2%;
      height: 3em;
      width: 3em;
      right: 2%;
      /*z-index: 5;*/
    }

    .currentLoc-symbol {
      font-size: 2em;
      padding-left: 0.33em;
      padding-top: 0.1em;
    }

    .currentLoc-symbol a{
     color: rgb(44, 62, 80);
    }



.long-address-section {
  height: 9.5%;
  position: absolute;
  top: 20%;
  width: 100%;
}

  .long-address {
    font-size: .8em;
    padding-left: 2%;
  }

.separation {
  height:1%;
  position: absolute;
  top: 29.5%;
}
  hr {
    margin: 0;
    border-color: rgb(63,154,214);
  }

.send-section {
  /*top: 25.5%;*/
  height: 100%;
  width: 100%;
  position: absolute;
}

  #friend-input {
    height: 10%;
    position: absolute;
    width: 100%
  }

  .friend-list {
    height: 70%;
    width: 100%;
    top:10%;
    position: absolute;
    overflow: auto;
  }

  .friend {
    position: relative;
    width: 100%;
  }

  .friend-pic {
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }

  .friend-name {
    top: 1em;
    position: absolute;
    padding-left: 1%
  }

  .send-row {
    height: 20%;
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .chosen-friends {
    top: 10%;
    float: left;
    position: relative;
    width: 3em;
    height: 3em;
    padding-left: 1%;
  }

  .chosen-friend-pic {
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }

  .send-btn {
    position: relative;
    background-color: rgb(63,154,214);
    border-radius: 50%;
    height: 3em;
    width: 3em;
    right: 2%;
    top: 10%;
    float: right;
  }

  .send-symbol{
    font-size: 2em;
    padding-left: 0.2em;
    padding-top: 0.3em;
    z-index: 1000;
  }

  .send-symbol a{
   color: rgb(44, 62, 80);
  }

.scroll {
  height: 100%;
  width: 100%;
}

.gmnoprint {
  display: none;
}

#map-canvas .centerMarker{
  position: absolute;
  background: url(../img/icon_map_event_blue.png) no-repeat;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -20px;
  margin-top: -80px;
  height: 60px;
  width: 40px;
  cursor: pointer;
}

.controls {
    border: 1px solid transparent;
    /*border-radius: 2px 0 0 2px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
