<div id="loginPane" class="login-pane">

  <div scroll="false">
  <!-- <div> -->
    <div id="main-logo">
      <img class="v-center" src="../../img/logo_verge22.png" alt="">
    </div>
  </div>

  <div class="login-area sticky-bottom clearfix">
    <!-- Login buttons -->
    <div class="loginSection login-options sticky-bottom" ng-show="loginState==='login'">
      <!-- <button ng-click="loginWithFacebook()"> -->
      <button class="btn icon-btn" ng-click="loginWithFacebook()">
        <span class="btn-icon v-center"><i class="fa fa-facebook"></i></span>
        Login with Facebook
      </button>

    </div>
  </div>

  <div class="settings-btn">
    <a ui-sref="settings">
      <i class="fa fa-cog"></i>
    </a>
  </div>

</div>
