<div id="loginPane" class="login-pane">

  <div scroll="false">
  <!-- <div> -->
    <div id="main-logo">
      <span class="v-center title">streetmeet</span>
      <!-- <img class="v-center" src="../../img/logo_verge22.png" alt=""> -->
    </div>
  </div>

  <div class="login-area sticky-bottom clearfix">
    <!-- Login buttons -->
    <div class="loginSection login-options sticky-bottom">
      <button class="btn icon-btn" ng-click="loginWithFacebook()">
        <span class="btn-icon v-center"><i class="fa fa-facebook"></i></span>
        Login with Facebook
      </button>

    </div>
  </div>

</div>
