<div id="map-page">



  <div scroll="false" class="map">
    <div id="map-canvas" data-tap-disabled="true"></div>
    <div class="currentLoc-btn" ng-click="centerOnCurrentLoc()">
      <div class="currentLoc-symbol">
          <i class="fa fa-dot-circle-o"></i>
      </div>
    </div>
  </div>

  <div class = "search-bar address-search-bar">
    <i class="fa fa-search search"></i>
    <input id="pac-input" class="controls address-search" type="text" placeholder="Enter a location" ng-model="shortReverseAddress">
    <i class="fa fa-times times" ng-click="clearAddress()"></i>
  </div>

  <div class="hTabs" draggable>
    <div class="send-section">
      <div class = "search-bar" ng-click="openSendInfo()">
        <i class="fa fa-search search"></i>
        <input id="friend-input" type="text" placeholder="Search for friends" class="controls" ng-model="friendFilter">
        <i class="fa fa-times times" ng-click="clearFriendFilter()"></i>

      </div>
      <div class="friend-list">
        <div ng-repeat="friend in mockFriends | filter: friendFilter" class="friend" ng-click="toggleSendee(friend, $event)">
          <div class="friend-pic-wrapper">
          <img class="friend-pic" src={{friend.image}}>
          <!-- <img class="friend-pic"> -->
          </div>
          <span class="friend-name">
            {{friend.name}}
            <i class="fa fa-check checkmark" ng-show="isChosen(friend)"></i>
          </span>
          <div class="separation">
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="send-row">
      <div class="chosen-friends" ng-repeat="friend in chosenFriends">
        <i class="fa fa-check send-checkmark"></i>
        <img class="chosen-friend-pic" src={{friend.image}}>
      </div>
      <div class="send-btn">
        <div class="send-symbol">
          <a>
            <i class="fa fa-paper-plane"></i>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- hTabs -->
</div>
