<div id="map-page">

  <input id="pac-input" class="controls" type="text" placeholder="Enter a location" ng-model="fullReverseAddress">

  <div scroll="false" class="map">
    <div id="map-canvas" data-tap-disabled="true"></div>
  </div>

  <div class="hTabs">
    <div class="short-address-section">
      <!-- <i class="fa fa-chevron-up"></i> -->
      <div class="currentLoc-btn" ng-click="centerOnCurrentLoc()">
        <div class="currentLoc-symbol">
          <a>
            <i class="fa fa-dot-circle-o"></i>
          </a>
        </div>
      </div> <!-- button -->
      <div class="short-address">{{numberReverseAddress}} {{streetReverseAddress}}</div>
    </div>

    <div class="long-address-section">
      <div class="long-address">{{fullReverseAddress}}</div>
    </div> <!-- address section -->

    <div class="separation">
      <hr>
    </div>

    <div class="send-section">
      <input id="friend-input" type="text" placeholder="Search for friends" class="controls">
      <!-- <div class="friendList"> -->
      <div class="friend-list">
        <div ng-repeat="friend in mockFriends" class="friend">
          <img class="friend-pic" src={{friend.image}}>
          <span class="friend-name">{{friend.name}}</span>
        </div>
      </div>
      <!-- </div> -->
      <div class="send-row">
        <div class="send-btn">
          <div class="send-symbol">
            <a>
              <i class="fa fa-paper-plane"></i>
            </a>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
