<div id="map" class="map-pane">


  <div scroll="false" class="map">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location" ng-model="reverseAddress">
    <div id="map-canvas" data-tap-disabled="true"></div>
  </div>
  <div class="settings-btn">
    <a ui-sref="settings">
      <i class="fa fa-cog"></i>
    </a>
  </div>

  <!-- <div class="hTabs" >
      <button class="header-tab-full create-toggle" ng-click=" toggleItem($event, 'button', '.create-toggle'); createEventMarker();" ng-hide="isEvent">Send A StreetMeet</button>
      <button class="btn-red header-tab-full create-toggle toggledOff cancel-btn" ng-click="toggleItem($event, 'button', '.create-toggle'); cancelCreateEvent();" ng-hide="isEvent">Cancel</button>
      <button class="header-tab-full" ng-show="isEvent" ui-sref="attendEvent({id: event})">Attendee Map</button>
  </div> -->
</div>
